[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/startpage"]
	path = themes/startpage
	url = https://github.com/spech66/bootstrap-bp-hugo-startpage.git
[submodule "themes/lean"]
	path = themes/learn
	url = https://github.com/matcornic/hugo-theme-learn.git
