<div class="row">
    <div id="sidebar-left" class="col-xs-2 col-sm-2">
        <ul class="nav main-menu">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">
                    <i class="fa fa-bar-chart-o"></i>
                    <span class="hidden-xs">User</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="ajax-link" href="user/user_register">user register</a></li>
                    <li><a class="ajax-link" href="user/input_money">input money</a></li>
                    <li><a class="ajax-link" href="user/output_money">output money</a></li>
                    <li><a class="ajax-link" href="user/transacttion">transacttion</a></li>
                    <li><a class="ajax-link" href="user/refund">refund</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">
                    <i class="fa fa-bar-chart-o"></i>
                    <span class="hidden-xs">Manager</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="ajax-link" href="manager/user_register">senior_manager/user_register</a></li>
                    <li><a class="ajax-link" href="manager/input_money">senior_manager/input_money</a></li>
                    <li><a class="ajax-link" href="manager/output_money">senior_manager/output_money</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">
                    <i class="fa fa-bar-chart-o"></i>
                    <span class="hidden-xs">System Manager</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="ajax-link" href="system_manager/Modeler">user register</a></li>
                    <li><a class="ajax-link" href="system_manager/process_list">input money</a></li>
                    <li><a class="ajax-link" href="system_manager/user">output money</a></li>
                    <li><a class="ajax-link" href="system_manager/role">transacttion</a></li>
                    <li><a class="ajax-link" href="user/refund">refund</a></li>
                </ul>
            </li>
        </ul>
    </div>
