<div class="row">
    <div id="sidebar-left" class="col-xs-2 col-sm-2">
        <ul class="nav main-menu">
            <li>
                <a href="processlist" class="active ajax-link">
                    <i class="fa fa-dashboard"></i>
                    <span class="hidden-xs">已部署的工作流</span>
                </a>
            </li>
            
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">
                    <i class="fa fa-bar-chart-o"></i>
                    <span class="hidden-xs">功能表</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="ajax-link" href="leaveapply">请假OA</a></li>
                    <li><a class="ajax-link" href="purchase">物资采购</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">
                    <i class="fa  fa-bell"></i>
                     <span class="hidden-xs">我的待办任务</span>
                </a>
                <ul class="dropdown-menu">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-bars"></i>
                            <span class="hidden-xs">请假待办</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="ajax-link" href="deptleaderaudit">部门领导审批</a></li>
                            <li><a class="ajax-link" href="hraudit">人事审批</a></li>
                            <li><a class="ajax-link" href="reportback">销假</a></li>
                            <li><a class="ajax-link" href="modifyapply">调整申请</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-phone-square"></i>
                            <span class="hidden-xs">采购待办</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="ajax-link" href="purchasemanager">采购经理审批</a></li>
                            <li><a class="ajax-link" href="finance">财务审批</a></li>
                            <li><a class="ajax-link" href="manager">总经理审批</a></li>
                            <li><a class="ajax-link" href="pay">出纳付款</a></li>
                            <li><a class="ajax-link" href="updateapply">调整申请</a></li>
                            <li><a class="ajax-link" href="receiveitem">收货确认</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">
                    <i class="fa fa-truck"></i>
                    <span class="hidden-xs">运行流程进度追踪</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="ajax-link" href="myleaves">我发起的请假流程</a></li>
                    <li><a class="ajax-link" href="myleaveprocess">我正在参与的请假流程</a></li>
                    <li><a class="ajax-link" href="mypurchase">我发起的采购流程</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">
                    <i class="fa fa-power-off"></i>
                    <span class="hidden-xs">已结束流程数据查询</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="ajax-link" href="historyprocess">我的请假历史</a></li>
                    <li><a class="ajax-link" href="historypurchaseprocess">我的采购历史</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle">
                    <i class="fa fa-cog"></i>
                    <span class="hidden-xs">系统管理</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="ajax-link" href="useradmin">用户管理</a></li>
                    <li><a class="ajax-link" href="roleadmin">角色管理</a></li>
                    <li><a class="ajax-link" href="permissionadmin">权限管理</a></li>
                </ul>
            </li>
        </ul>
    </div>
